<%= render(BookPage::Component.new(basic: false)) do %>
  <%= render(SideBar::Component.new) do %>
    <div class=<%= class_for "quizName" %>>
      <h4><%= @quiz.title.presence || 'untitled' %></h4>
    </div>

    <%= render(SideMenu::Component.new(build_sidemenu))%>
    <%= link_to root_path, class: class_for('sidebarButtonContainer') do %>
      <%= render(Button::Component.new('DONE', submit: false)) %>
    <% end %>
  <% end %>

  <%= turbo_frame_tag :question do %>
    <%= render(QuestionDetails::Component.new(@quiz, @question)) %>
  <% end %>

<% end %>
