<div class=<%= class_for 'sliderContainer' %>>
  <%# <Slider {...settings} ref={slickRef}> %>
    <div class=<%= class_for 'image' %>>
      <%= render(Authentication::Hat::Component.new('star')) %>
    </div>
    <div class=<%= class_for 'image' %>>
      <%= render(Authentication::Hat::Component.new('earth')) %>
    </div>
    <div class=<%= class_for 'image' %>>
      <%= render(Authentication::Hat::Component.new('spiral')) %>
    </div>
    <div class=<%= class_for 'image' %>>
      <%= render(Authentication::Hat::Component.new('gnome')) %>
    </div>
    <div class=<%= class_for 'image' %>>
      <%= render(Authentication::Hat::Component.new('nature')) %>
    </div>
    <div class=<%= class_for 'image' %>>
      <%= render(Authentication::Hat::Component.new('fire')) %>
    </div>
    <div class=<%= class_for 'image' %>>
      <%= render(Authentication::Hat::Component.new('swamp')) %>
    </div>
    <div class=<%= class_for 'image' %>>
      <%= render(Authentication::Hat::Component.new('water')) %>
    </div>
  <%# </Slider> %>
</div>
<div class=<%= class_for 'caption' %>>Select your wizard hat</div>
