<div class=<%= class_for 'sliderContainer' %>>
  <div data-controller="<%= identifier %>" class="swiper-container w-30 my-5"
  <%= "data-#{identifier}-options-value" %> = '{
    "navigation": { "nextEl": ".swiper-button-next",
                    "prevEl": ".swiper-button-prev"}}'>

    <div class="swiper-wrapper">
      <% hats.map do |hat| %>
        <div class="swiper-slide">
          <div class=<%= class_for 'image' %>>
            <%= render(Authentication::Hat::Component.new(hat, 'slideImage')) %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="swiper-button-prev" data-action="click-><%=identifier%>#previous"></div>
    <div class="swiper-button-next" data-action="click-><%=identifier%>#next"></div>

    <%= @form.hidden_field @key, "data-#{identifier}-target": "hat" %>
  </div>
</div>
<div class=<%= class_for 'caption' %>>Select your wizard hat</div>
