<%= form_with(model: lobby) do |form| %>
  <% if lobby.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lobby.errors.count, "error") %> prohibited this lobby from being saved:</h2>

      <ul>
        <% lobby.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="field">
    <%= form.label :current_question_index %>
    <%= form.number_field :current_question_index %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
