<%= turbo_frame_tag :question_details, data: { controller: identifier } do %>
  <div class="<%= class_for('quiz') %>">
    <%= form_with(model: [@quiz, @question],
                  data:  { 'turbo-frame': '_top' }) do |form| %>
      <%= form.hidden_field :order %>

      <% if form.object.errors.full_messages.present? %>
        <p><%= form.object.errors.full_messages %></p>
      <% end %>

      <%= form.hidden_field :quiz_id %>

      <div class="column-grid">
        <div class="box-third">
          <%= form.label :time_limit, class: class_for('label') %>
          <%= render(Select::Component.new) do %>
            <%= form.select :time_limit, [['20 sec', 20], ['30 sec', 30]] %>
          <% end %>

          <%= form.label :points, class: class_for('label') %>
          <%= render(Slider::Component.new(form, :points)) %>

          <%= form.label :answer_type, 'Answer options', class: class_for('label') %>
          <%= render(Select::Component.new) do %>
            <%= form.select :answer_type, [['Single select', 'single'], ['Multi select', 'multiple']] %>
          <% end %>
        </div>

        <div class="box-two-thirds">
          <%= render(DragAndDrop::Component.new(form, label: 'Question image')) %>
        </div>
      </div>

      <%= render(QuestionText::Component.new(form)) %>

      <div class="<%= class_for('createQuestionButtons') %>">
        <div class="<%= class_for('button') %>">
          <%= link_to suggest_question_quiz_questions_path(id: @quiz.id, question_id: @question.id), data: { action: "click->#{identifier}#reset"} do %>
            <%= render(Button::Component.new('Suggest question', background_color: 'light-brown', submit: false)) %>
          <% end  %>
        </div>
        <div class="<%= class_for('button') %>">
          <%= render(Button::Component.new(form.object.id.present? ? 'SAVE' : 'ADD', background_color: 'purple')) %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
