<div class=<%= class_for "sidebar"%>>
  <%= link_to root_path do %> 
    <div class=<%= class_for "logo"%>>
      <%= image_pack_tag "media/src/svg/logo.svg", alt: 'qwizard logo' %> 
    </div>
  <% end %>
  <%= content %>
</div>