<div class=<%= class_for 'narrowLayout' %>>
  <div class='box-narrow'>
    <div class=<%= class_for 'pageNarrow' %>>
      <div class=<%= class_for 'topLeft' %>></div>
      <div class=<%= class_for 'topRight' %>></div>
      <div class=<%= class_for 'bottomLeft' %>></div>
      <div class=<%= class_for 'bottomRight' %>></div>
      <div class=<%= class_for 'bg'%>></div>
      <div class=<%= class_for 'contentContainer' %>>
        <%= link_to "/" do %>
          <div class='logo'>
            <%= image_pack_tag "media/src/svg/logo.svg", alt: 'qwizard logo' %>
          </div>
        <% end %>
        <%= content %>
      </div>
    </div>
  </div>
</div>