<div class=<%= class_for 'counter' %>>
  <div class=<%= class_for 'topText' %>>
    <h1>Get your wands ready</h1>
  </div>
  <div class=<%= class_for 'numbers' %>>
    <div class="<%= class_for 'number' %> <%= class_for 'first' %>">
      3
    </div>
    <div class="<%= class_for 'number' %> <%= class_for 'second' %>">
      2
    </div>
    <div class="<%= class_for 'number' %> <%= class_for 'third' %>">
      1
    </div>
  </div>
  <div class=<%= class_for 'bottomText' %>>
    <h1>A witty question is being cast...</h1>
  </div>
</div>
