<%= render(PageNarrow::Component.new) do %>
  <%= render(Authentication::Header::Component.new('Sign up')) %>

  <%= render(Authentication::HatSlider::Component.new) %>

  <div style="width: 100%">
    <%= form_with model: User.new, url: registrations_path do |form| %>
      <%= render(TextInput::Component.new(form: form, field_name: 'email', label_text: 'Email', placeholder: 'email@email.com')) %>
      <%= render(TextInput::Component.new(form: form, field_name: 'username', label_text: 'Username', placeholder: 'John')) %>
      <%= render(PasswordInput::Component.new(form: form, field_name: 'password', label_text: 'Password', placeholder: 'Password')) %>

      <div class=<%= class_for 'buttonContainer' %>>
        <%= link_to new_session_path do %>
          <%= render(Button::Component.new(
            'Cancel',
            color: 'black',
            background_color: 'transparent',
            outline: true,
            submit: false))
          %>
        <% end %>
        <%= render(Button::Component.new('Sign up', background_color: 'purple')) %>
      </div>
    <% end %>
  </div>
<% end %>
