<div class="box-quarter">
  <div class=<%= class_for 'gridItem' %>>
    <div class=<%= class_for 'image' %>>
      <%= render(Authentication::Hat::Component.new(player.hat, 'playerImage')) %>
    </div>
    <div class=<%= class_for 'name' %>><%= player.name %></div>
  </div>
</div>
