<div class=<%= class_for "menu"%>>
  <div class=<%= class_for "contentContainer"%>>
    <%= items.each do |item| %>
      <div class="<%= class_for "active" if item.path == curent_path %> <%= class_for "menuItem"%>">
        <%= link_to(item.path, item.id, { style: 'flex:1'}) do %>
          <div class=<%= class_for "text"%>>
            <%= item.text %>
          </div>
        <% end %>
        <% if item.icon %>
          <%
=begin%>
 @todo use reflex here for onClick event
 <div onClick={() => onIconClick(item.id)} class=<%= class_for "icon" > 
<%
=end%>
          <div class=<%= class_for "icon" >
             <%= image_pack_tag "media/src/svg/#{item.icon}.svg", alt: 'Trash bin icon' %> 
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>